.tank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('../../assets/background/tank-2.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: grayscale(0.8) opacity(0.8); */
  max-width: 1000px;
  margin: 20px auto;
}

.add_fish {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.fish_tank {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
