.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.control {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
}

.label {
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}

.field,
.field-date {
  border-radius: 5px;
  border: 0.5px solid lightgray;
  padding: 10px 15px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
}

.field-date {
  width: 500px;
}

.select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat calc(100% - 10px) 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.field::-moz-focus-outer {
  border: 0;
}

.field:focus {
  border: 1px solid lightblue;
}

.lifetime {
  display: flex;
  flex-direction: row;
}

.lifetime > * {
  width: 50%;
}

.lifetime_value {
  margin-right: 10px;
}

.submit {
  width: 100px;
  align-self: center;
}

.error {
  margin-top: 5px;
  color: crimson;
}

.nice-dates-popover {
  width: 500px;
}

@media (max-width: 420px) {
  .control {
    margin-bottom: 5px;
  }

  .lifetime {
    flex-direction: column;
  }

  .lifetime > * {
    width: 100%;
    margin-bottom: 5px;
  }
}
